<%= link_to("Back to list", {:action => 'list'}) %>
<div class="table ">
  <table>
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Surname</td>
      <td><%= @user.surname %></td>
    </tr>
  </table>
</div>